<nav class="navbar navbar-light app-navbar">
  <div class="container-fluid">
    <a class="navbar-brand">{{ hpzoneHeader$ | async }}</a>
    <button
      type="button"
      class="navbar-toggler collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#hpz-menu"
      aria-expanded="false"
      (click)="toggleNavbar()"
      *ngIf="authenticated$ | async">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div
    class="collapse navbar-collapse"
    id="hpz-menu"
    [ngClass]="{ collapse: navbarCollapsed$ | async }"
    (click)="collapse = true">
    <div>
      <ul class="nav navbar-nav navbar-right" *ngIf="authenticated$ | async">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="signout()"
            >Log off as {{ currentUser$ | async }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
