<nav class="navbar navbar-default">
  <div class="container-fluid" *ngIf="authState$ | async as authState">
    <div class="navbar-header">
      <a class="navbar-brand"><strong>{{ hpzoneHeader }}</strong></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hpz-menu"
        aria-expanded="false" (click)="toggleNavbar()" *ngIf="authState.auth">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="hpz-menu" [ngClass]="{ 'collapse': navbarCollapsed$ | async }" (click)="collapse = true">
      <div>
        <ul class="nav navbar-nav navbar-right" *ngIf="authState.auth">
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" (click)="signout()">Log off as {{ authState.user.Username }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
