<div class="card">
  <div class="card-body">
    <div class="card-title center-text">
      {{ pageTitle }}
    </div>
    <div class="form-body">
      <form
        [formGroup]="requisitionForm"
        (ngSubmit)="createOrUpdateRequisition()"
        class="row">
        <div class="col-lg-6 col-md-6 form-item">
          <label class="form-label" for="ReqNumber">Requisition Nbr</label>
          <input
            class="form-control"
            id="ReqNumber"
            name="ReqNumber"
            autocomplete="off"
            formControlName="ReqNumber"
            type="number" />
        </div>
        <div class="col-lg-6 col-md-6 form-item">
          <label class="form-label" for="RequisitionStatus"
            >Requisition Status</label
          >
          <select
            class="form-select"
            id="RequisitionStatus"
            name="RequisitionStatus"
            formControlName="RequisitionStatus"
            (change)="onRequisitionStatusChange($event)">
            <option
              *ngFor="let status of requisitionStatus$ | async"
              [value]="status.LookupKey">
              {{ status.LookupValue }}
            </option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 form-item">
          <label class="form-label" for="ReqDate">Requisition Date</label>
          <input
            type="date"
            class="form-control"
            id="ReqDate"
            name="ReqDate"
            autocomplete="off"
            formControlName="ReqDate" />
        </div>
        <div class="col-lg-6 col-md-6 form-item">
          <label class="form-label" for="DeliveryDate">Delivery Date</label>
          <input
            type="date"
            class="form-control"
            id="DeliveryDate"
            name="DeliveryDate"
            autocomplete="off"
            formControlName="DeliveryDate" />
        </div>
        <div class="col-lg-6 col-md-6 form-item">
          <label class="form-label" for="OrderNumber">Order Nbr</label>
          <input
            class="form-control"
            id="OrderNumber"
            name="OrderNumber"
            autocomplete="off"
            formControlName="OrderNumber"
            type="number" />
        </div>
        <div class="col-lg-6 col-md-6 form-item">
          <label class="form-label" for="CylinderStatus">Cylinder Status</label>
          <select
            class="form-select"
            id="CylinderStatus"
            name="CylinderStatus"
            formControlName="CylinderStatus">
            <option
              *ngFor="let status of cylinderStatus$ | async"
              [value]="status.LookupKey">
              {{ status.LookupValue }}
            </option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 form-item">
          <label class="form-label" for="ReqAmount">Amount</label>
          <input
            type="number"
            class="form-control"
            id="ReqAmount"
            name="ReqAmount"
            autocomplete="off"
            formControlName="ReqAmount" />
        </div>
        <div class="col-lg-6 col-md-6 form-item">
          <label class="form-label" for="Usage">Usage</label>
          <input
            type="number"
            class="form-control"
            id="Usage"
            name="Usage"
            autocomplete="off"
            formControlName="Usage" />
        </div>
        <div class="center-text default-margin">
          <button
            class="btn btn-success"
            title="Save"
            type="submit"
            [disabled]="requisitionForm.invalid">
            {{ mode === 'edit' ? 'Update' : 'Create' }}
          </button>
          <span style="margin: 0 5px">&nbsp;</span>
          <button
            class="btn btn-danger"
            title="Cancel"
            type="reset"
            (click)="cancelChanges()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="default-margin" *ngIf="reqErrorMessage$ | async as reqErrorMessage">
  <div class="center-text">
    <div class="alert alert-danger">
      {{ reqErrorMessage }}
    </div>
  </div>
</div>
