<hpz-search></hpz-search>
<div class="default-margin center-text">
  <button
    class="btn btn-primary"
    title="Create Requisition"
    (click)="createRequisition()"
    type="button"
  >
    Create
  </button>
</div>
<ng-container *ngIf="requisition$ | async as requisitions">
  <div class="card">
    <div class="card-body">
      <div class="card-title center-text">
        {{ pageTitle }}
      </div>
      <div *ngIf="requisitions.length > 0; else noshow">
        <hpz-result
          *ngFor="let requisition of requisitions; trackBy: trackByFn"
          [requisition]="requisition"
        ></hpz-result>
      </div>
      <ng-template #noshow>
        <div class="alert alert-danger center-text">No requisitions found!</div>
      </ng-template>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="reqErrorMessage$ | async as reqErrorMessage">
  <div class="center-text">
    <div class="alert alert-danger">
      {{ reqErrorMessage }}
    </div>
  </div>
</ng-container>
