.status-ordered {
  font-size: 16px;
  font-weight: bold;
  color: #f5c518;
}

.status-delivered {
  font-size: 16px;
  font-weight: bold;
  color: #009966;
}

.status-cancelled {
  font-size: 16px;
  font-weight: bold;
  color: #dc1431;
}

.status-ordered-border {
  border-left: 15px solid #f5c518;
  border-right: 15px solid #f5c518;
  border-radius: 20px;
}

.status-delivered-border {
  border-left: 15px solid #009966;
  border-right: 15px solid #009966;
  border-radius: 20px;
}

.status-cancelled-border {
  border-left: 15px solid #dc1431;
  border-right: 15px solid #dc1431;
  border-radius: 20px;
}

.req-number-ordered {
  font-size: 27px;
  color: #f5c518;
}

.req-number-delivered {
  font-size: 27px;
  color: #009966;
}

.req-number-cancelled {
  font-size: 27px;
  color: #dc1431;
}

.req-date {
  font-size: 16px;
  font-weight: bold;
  color: #286090;
}

.list-group-item {
  border-radius: 0;
}
