body,
html {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif !important;
  text-rendering: optimizeLegibility;
}

.center-text {
  text-align: center;
}

.error-code {
  color: #dc3545;
  font-size: 0.9rem;
  margin: -7px 0 5px 2px;
  font-weight: 500;
}

.form-error-code {
  color: #dc3545;
  font-size: 0.8rem;
  margin: -7px 0 5px 2px;
  font-weight: 500;
}

.panel-heading {
  font-size: 1.6rem;
}

.card {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.card-title {
  height: 50px;
  background-color: #f5f5f5;
  padding: 12px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}

.form-label {
  margin-bottom: 0;
}

.form-body {
  margin: 15px 0 -15px 0;
}

.form-item {
  margin: 5px 0;
}

.std-margin {
  margin: 5px auto;
}

.default-margin {
  margin: 20px auto;
}

@media screen and (max-width: 767px) {
  .hide-xs {
    display: none;
  }
}

.semi-bold-font {
  font-weight: 500;
}

.bold-font {
  font-weight: 700;
}

.status {
  color: #0d6efd;
  font-weight: 500;
  font-size: 1.3rem;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.4em;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:hover {
  box-shadow: 0 0 0 0.1rem;
}

.navbar-light .navbar-brand {
  font-weight: 700;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
}
