body,
html {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif !important;
  text-rendering: optimizeLegibility;
}

.center-text {
  text-align: center;
}

.error-code {
  color: #DC1431;
  font-size: 14px;
}

.form-error-code {
  color: #DC1431;
  font-size: 0.8rem;
  margin: -5px 0 5px 0;
}

.panel-heading {
  font-size: 1.6rem;
}

.card {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.card-title {
  height: 50px;
  background-color: #f5f5f5;
  padding: 12px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-weight: 500;
}

.form-label {
  margin-bottom: 0;
}

.form-body {
  margin: 15px 0 -15px 0;
}

.form-item {
  margin: 5px 0;
}


.default-margin {
  margin: 20px auto;
}

@media screen and (max-width: 767px) {
  .hide-xs {
    display: none;
  }
}
